/* i'll copy this over to index.css later */

.page-container {
    display: flex;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    gap: 8px;
    padding: 8px;
}


.video-section {
    display: flex;
    height: 100vh;
    width: 100%;
}

.video-container {
    width: 65%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    background-color: #000;
}



/* styling for the tabs */

.tab-section {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tabs-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 800px;
    height: auto;
    background: #EAE6E0;
    margin: 50px auto;
    word-break: break-all;

}

.bloc-tabs {
    display: flex;

}

.tabs-option {
    padding: 15px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
}